<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <!-- haut de la page web-->
  <title>Social Greenwave</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/green_wave_mini.png')}}"/>
  <!-- lien css bootstdrap et surcouche perso + js-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<!-- body-->
<body>
    <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" style= " margin-left: auto; margin-right: auto">
                <img src="{{ url_for('static', filename='img/green_wave.png')}}" alt="green_wave" width="1000" height="200">
          </a>
        </div>
    </nav>
    <!-- section 1: top tweets-->
    <section class="container-fluid" style="margin-top: 1rem">
        <div class="tab-pane border fade show active">
            <h4 class ='text' style="margin-top: 20px; margin-left: 20px; padding: 10px;"><img src="{{ url_for('static', filename='img/x_exalt.png')}}" alt="x_exalt" width="30" height="31" style="margin-right: 6px;">Tweets ayant eu le plus de visibilté sur les 7 derniers jours</h4>
            <div class= "row corps" style="padding: 20px" >
                <!-- Partie gauche : tweets 1 à 3 -->
                <div class="col col-lg-6 col-md-12">
                    <ul class="list-group">
                        <!-- 1er tweet-->
                        <li class="list-group-item ">
                            <div class= "row">
                                <div class="col-11">
                                    <p>{{list_tweets[0]}}</p>
                                    <span class="badge bouton">@{{list_username[0]}} - {{list_creatime[0]}}</span>
                                </div>
                                <div class="col-1" style="text-align: right;">
                                    <span class="badge bouton_jaune">{{list_impact[0]}}</span>
                                </div>
                            </div>
                        </li>
                        <!-- 2_eme tweet-->
                        <li class="list-group-item ">
                            <div class= "row">
                                <div class="col-11">
                                    <p>{{list_tweets[1]}}</p>
                                    <span class="badge bouton">@{{list_username[1]}} - {{list_creatime[1]}}</span>
                                </div>
                                <div class="col-1" style="text-align: right;">
                                    <span class="badge bouton_jaune">{{list_impact[1]}}</span>
                                </div>
                            </div>
                        </li>
                        <!-- 3_eme tweet-->
                        <li class="list-group-item ">
                            <div class= "row">
                                <div class="col-11">
                                    <p>{{list_tweets[2]}}</p>
                                    <span class="badge bouton">@{{list_username[2]}} - {{list_creatime[2]}}</span>
                                </div>
                                <div class="col-1" style="text-align: right;">
                                    <span class="badge bouton_jaune">{{list_impact[2]}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Partie droite :  tweets 4 à 6 -->
                <div class="col col-lg-6 col-md-12">
                    <ul class="list-group">
                        <!-- 4_eme tweet-->
                        <li class="list-group-item ">
                            <div class= "row">
                                <div class="col-11">
                                    <p>{{list_tweets[3]}}</p>
                                    <span class="badge bouton">@{{list_username[3]}} - {{list_creatime[3]}}</span>
                                </div>
                                <div class="col-1" style="text-align: right;">
                                    <span class="badge bouton_jaune">{{list_impact[3]}}</span>
                                </div>
                            </div>
                        </li>
                        <!-- 5_eme tweet-->
                        <li class="list-group-item ">
                            <div class= "row">
                                <div class="col-11">
                                    <p>{{list_tweets[4]}}</p>
                                    <span class="badge bouton">@{{list_username[4]}} - {{list_creatime[4]}}</span>
                                </div>
                                <div class="col-1" style="text-align: right;">
                                    <span class="badge bouton_jaune">{{list_impact[4]}}</span>
                                </div>
                            </div>
                        </li>
                        <!-- 6_eme tweet-->
                        <li class="list-group-item ">
                            <div class= "row">
                                <div class="col-11">
                                    <p>{{list_tweets[5]}}</p>
                                    <span class="badge bouton">@{{list_username[5]}} - {{list_creatime[5]}}</span>
                                </div>
                                <div class="col-1" style="text-align: right;">
                                    <span class="badge bouton_jaune">{{list_impact[5]}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section 2: hastags count et analyse de sentiment -->
    <section class="container-fluid" style="margin-top: 1rem;">
        <div class="tab-pane border fade show active">
            <div class= "row" style="padding: 20px" >
                <!-- Partie gauche : graphique hashtag-->
                <div class="col col-lg-6 col-md-12">
                    <h4 style="padding: 10px;" class ='text'><img src="{{ url_for('static', filename='img/x_exalt.png')}}" alt="x_exalt" width="30" height="31" style="margin-right: 6px;">Hashtags les plus populaires sur les 24 dernières heures</h4>
                    <div class="row" style="padding: 10px">  
                        <div id="chart1"></div>  
                        <!--script js pour les grpahiques -->
                        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                        <script type="text/javascript">
                            var graphs1 = {{ graph1JSON | safe}};
                            Plotly.plot("chart1", graphs1,{});
                        </script>                 
                    </div>
                </div>
                <!-- Partie gauche : graphique sentiment analysis -->
                <div class="col col-lg-6 col-md-12">
                    <div>
                        <h4 style="padding: 10px;" class ='text'><img src="{{ url_for('static', filename='img/x_exalt.png')}}" alt="x_exalt" width="30" height="31" style="margin-right: 6px;">Analyse de sentiment des tweets sur les dernières 24h</h4>
                        <div class="row" style="padding: 10px">  
                            <div id="chart2"></div>  
                            <!--script js pour les grpahiques -->
                            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                            <script type="text/javascript">
                                var graphs2 = {{ graph2JSON | safe}};
                                Plotly.plot("chart2", graphs2,{});
                            </script>                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- section 3: articles-->
     <section class="container-fluid" style="margin-top: 1rem;">
         <div class="tab-pane border fade show active">
             <div style="padding: 20px;">
                <h4 style="padding: 10px;" class ='text'><img src="{{ url_for('static', filename='img/x_exalt.png')}}" alt="x_exalt" width="30" height="31" style="margin-right: 6px;">Derniers articles disponibles en rapport avec les tweets ayant eu le plus de visibilité</h4>
                    <div class= "row corps" style="padding: 20px">
                        <!-- 1er article-->
                        <div class="col col-lg-4 col-md-6">
                            <div class="card" style="width: 20rem; height:38rem; margin-bottom: 10px;">
                                <img src="{{list_img[0]}}" class="card-img-top">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{list_titres[0]}}</h5>
                                    <p class="card-text">Publié le {{list_publi[0]}} - {{list_src[O]}}</p>
                                    <p class="card-text">{{list_des[0]}}</p>
                                    <a href="{{list_link[0]}}" class="align-self-end btn btn-lg btn-block btn-primary bouton" style="margin-top: auto;">Aller lire l'article</a>
                                </div>
                            </div>
                        </div>
                        <!-- 2ième article-->
                        <div class="col col-lg-4 col-md-6">
                            <div class="card" style="width: 20rem; height:38rem; margin-bottom: 10px;">
                                <img src="{{list_img[1]}}" class="card-img-top">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{list_titres[1]}}</h5>
                                    <p class="card-text">Publié le {{list_publi[1]}} - {{list_src[1]}}</p>
                                    <p class="card-text">{{list_des[1]}}</p>
                                    <a href="{{list_link[1]}}" class="align-self-end btn btn-lg btn-block btn-primary bouton" style="margin-top: auto;">Aller lire l'article</a>
                                </div>
                            </div>
                        </div>
                        <!-- 3ième article-->
                        <div class="col col-lg-4 col-md-6">
                            <div class="card" style="width: 20rem; height:38rem; margin-bottom: 10px;">
                                <img src="{{list_img[2]}}" class="card-img-top">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{list_titres[2]}}</h5>
                                    <p class="card-text">Publié le {{list_publi[2]}} - {{list_src[2]}}</p>
                                    <p class="card-text">{{list_des[2]}}</p>
                                    <a href="{{list_link[2]}}" class="align-self-end btn btn-lg btn-block btn-primary bouton" style="margin-top: auto;">Aller lire l'article</a>
                                </div>
                            </div>
                        </div>
                        <!-- 4 ième article-->
                        <div class="col col-lg-4 col-md-6">
                            <div class="card" style="width: 20rem; height:38rem; margin-bottom: 10px;">
                                <img src="{{list_img[3]}}" class="card-img-top">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{list_titres[3]}}</h5>
                                    <p class="card-text">Publié le {{list_publi[3]}} - {{list_src[3]}}</p>
                                    <p class="card-text">{{list_des[3]}}</p>
                                    <a href="{{list_link[3]}}" class="align-self-end btn btn-lg btn-block btn-primary bouton" style="margin-top: auto;">Aller lire l'article</a>
                                </div>
                            </div>
                        </div>
                        <!-- 5 ième article-->
                        <div class="col col-lg-4 col-md-6">
                            <div class="card" style="width: 20rem; height:38rem; margin-bottom: 10px;">
                                <img src="{{list_img[4]}}" class="card-img-top">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{list_titres[4]}}</h5>
                                    <p class="card-text">Publié le {{list_publi[4]}} - {{list_src[4]}}</p>
                                    <p class="card-text">{{list_des[4]}}</p>
                                    <a href="{{list_link[4]}}" class="align-self-end btn btn-lg btn-block btn-primary bouton" style="margin-top: auto;">Aller lire l'article</a>
                                </div>
                            </div>
                        </div>
                        <!-- 6 ième article-->
                        <div class="col col-lg-4 col-md-6">
                            <div class="card" style="width: 20rem; height:38rem; margin-bottom: 10px;">
                                <img src="{{list_img[5]}}" class="card-img-top">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{list_titres[5]}}</h5>
                                    <p class="card-text">Publié le {{list_publi[5]}} - {{list_src[5]}}</p>
                                    <p class="card-text">{{list_des[5]}}</p>
                                    <a href="{{list_link[5]}}" class="align-self-end btn btn-lg btn-block btn-primary bouton" style="margin-top: auto;">Aller lire l'article</a>
                                </div>
                            </div>
                        </div>
                    </div>   
             </div>
         </div>
    </section>    
</body>
<!-- Footer-->
<footer class="footer text-center">
    <div class="copyright py-4 text-center corps">
        <div class="container"><small> &copy; 2021 - Data Crooks</small></div>
    </div>
</footer>
</html>