.text{
    color: #230575;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.bouton{
    background-color: #230575;}

.bouton_jaune{
    background-color: #FBDA51;}

.corps{
    font-family: 'Century Gothic',  sans-serif;
}
    


